/* Estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}



.volver-btn {
    margin-top: 20px;        
    margin-left: 30px;
    color: grey;             
    border: none;            
    background: transparent; 
    font-size: 16px;         
    display: flex;           
    align-items: center;     
    cursor: pointer;         
}

.volver-btn i {
    margin-right: 8px;       /* Espacio entre icono y texto */
    font-size: 18px;         /* Tamaño del icono */
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    box-sizing: border-box; 
    width: 100%;
}

.libro{
  margin-left: 50px;
}
.box-1 {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column; 
}

.contenido-principal {
    display: flex; /* Usa flexbox para alinear los elementos internos */
    align-items: flex-start; /* Alinea los elementos verticalmente al inicio */
    width: 100%;
    margin-bottom: 0; /* Elimina el margen inferior */
}

.box-1 img {
    width: 300px;
    height: 400px;
    border-radius: 10px;
    margin-right: 20px; /* Espacio entre la imagen y el contenido */
}

.detalle-libro {
    flex: 1; /* Ocupa todo el espacio restante */
}

.titulo-autor {
    display: flex;
    flex-direction: column;
}

.titulo-autor h2 {
    font-size: 24px;
    margin: 0; /* Elimina cualquier margen superior */
}

/*TITULO DEL AUTOR*/
.titulo-autor h3 {
    font-size: 18px;
    margin-top: 5px;
}

/*SUBRAYADO AZUL DEL AUTOR*/
.autor {
    color: rgba(20, 142, 117); /* Color celeste para el nombre del autor */
    text-decoration: underline; /* Subrayado para el nombre del autor */
}

.titulo-autor h4 {
    font-size: 20px;
    margin: 10px 0 5px 0; /* Margen superior de 10px, margen inferior de 5px */
}

.titulo-autor p {
    margin-top: 0; /* Elimina el margen superior del párrafo */
    line-height: 1.6; /* Asegura una buena legibilidad */
}

.reseña-container {
    position: relative;
}

.reseña {
    max-height: 350px; /* Ajusta esta altura para mostrar aproximadamente 10 líneas */
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.mostrar-mas-btn {
    display: block;
    width: 100%; /* Ocupa todo el ancho disponible */
    margin: 10px 0 0 0; /* Margen superior de 10px, sin márgenes laterales e inferior */
    background-color: white;
    color: gray;
    border: 1px solid gray;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.mostrar-mas-btn:hover {
    background-color: #f0f0f0;
}

.datos-libro {
    width: 300px; /* Ancho de la imagen */
    margin-top: -150px; /* Sube los datos del libro 10px */
}

.datos-libro p {
    margin: 5px 0;
    font-size: 14px;
    border-bottom: 1px dashed gray; /* Línea entrecortada gris en la parte inferior */
    padding-bottom: 5px; /* Espacio entre el texto y la línea */
}

.datos-libro p:last-child {
    border-bottom: none; /* Elimina la línea entrecortada en el último párrafo */
}

/*Parte de los libros relacionados*/
.recomendados-1{
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .slider-1{
  width: 1250px;
  overflow: hidden;
  display: flex;
  padding: 30px 10px;
  position: relative;
  }
  
  .slider-1 .product-1{
  width: 400px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-right: 10px;
  transition: 0.5s;
  }
  
  .slider-1 .product-1 img{
  width: 200px;
  height: 300px;
  border-radius: 10px 10px 0 0;
  }
  
  .slider-1 .product-1 .information-1{
  padding: 10px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }
  
.slider-1 .product-1 .information-1 h3{
  font-size: 14px;
  margin-top: -10px;
}
  
.slider-1 .product-1 .information-1 p{
  font-size: 12px;
  margin-top: -10px;
}

.slider-1 .product-1 .information-1 span{
  font-size: 12px;
  color :#0099cc;
  font-weight: bold;
}
  
  /*BOTOM MAYOR Y MENOR*/
  .slider-1 .arrow{
  width: 1260px;
  position: absolute;
  justify-content: space-between;
  display: flex;
  top: 40%;
  }
  
  .slider-1 .arrow button{
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid gray;
  background-color: white;
  margin: 0 20px;
  cursor: pointer;
  }


.product-1 .image-1 {
    position: relative;
}

.product-1 .ver-detalle-btn {
  position: absolute;
  bottom: 15px; /* Ajusta la posición del botón desde abajo según sea necesario */
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 16px); /* Ajusta el ancho del botón al ancho de la imagen */
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 8px 0; /* Ajusta el padding vertical */
  font-size: 14px;
  cursor: pointer;
  opacity: 0; /* Inicialmente oculto */
  transition: opacity 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif; /* Usa la fuente Roboto */
}

.product-1:hover .ver-detalle-btn {
  opacity: 1;
  background-color: white; 
  color: #05080a; 
}

.product-1 .ver-detalle-btn:hover {
  background-color: rgb(255, 255, 255); 
  color: #05080a; 
}



.prestar-btn {
    background-color: rgba(20, 142, 117);
    color: white;
    border: none;
    width: 180px; 
    height: 50px; 
    font-size: 14px;
    font-weight: bold; 
    cursor: pointer;
    height: 40px; 
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    
}
.prestar-btn i {
    font-size: 20px; 
}
.vista-previa-btn {
    background-color: transparent; 
    color: rgba(20, 142, 117); 
    border: 2px solid rgba(20, 142, 117); 
    width: 180px; 
    height: 50px; 
    font-size: 14px;
    font-weight: bold; 
    cursor: pointer;
    height: 40px; 
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    margin-top: -40px; 
    margin-left: 200px;
}

.vista-previa-btn i {
    font-size: 20px; 
}

/*PARTE DEL ICONO DEL LIBRO*/
.imagen-container {
    position: relative;
    display: inline-block; 
}

.audio-icon {
    position: absolute;
    bottom: 20px; 
    right: 30px; 
    background-color: white; 
    color: black; 
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.audio-icon i {
    font-size: 20px;
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 768px) {
    .container {
        padding: 10px; /* Ajusta el padding del contenedor principal */
    }

    .box-1 {
        flex-direction: column; /* Cambia la dirección de la columna para dispositivos móviles */
    }

    .box-1 img {
        width: 200px; /* Hace que la imagen ocupe todo el ancho del contenedor en dispositivos móviles */
        height: auto; /* Mantiene la proporción de la imagen */
        margin-right: 0; /* Elimina el margen derecho de la imagen en dispositivos móviles */
        margin-bottom: 10px; /* Agrega margen inferior para separar la imagen de otros elementos */
    }

    .titulo-autor h2 {
        font-size: 16px; /* Reduce el tamaño del título principal */
    }
    .titulo-autor h3 {
        font-size: 16px; 
    }
    .titulo-autor h4 {
        font-size: 16px; 
    }
    .titulo-autor p{
        font-size: 14px;
    }

    .datos-libro p{
        font-size: 14px;
        transform: translateY(-130px);
    }

    .mostrar-mas-btn {
        padding: 8px 16px; /* Ajusta el padding del botón */
    }

    .datos-libro {
        margin-top: 0; /* Elimina el margen superior en dispositivos móviles */
        width: 200px;
    }

    .vista-previa-btn {
        width: 100%; /* Asegura que el botón ocupe todo el ancho disponible */
        margin-left: 0;
        margin-top: 10px; /* Agrega margen superior para separar del botón anterior */
    }

    .prestar-btn {
        width: 100%; /* Asegura que el botón ocupe todo el ancho disponible */
    }

    .arrow {
        position: fixed;
        top: 50%;
        width: auto;
        height: auto;
        transform: translateY(-50%);
        z-index: 1000; /* Asegura que las flechas estén por encima del contenido */
    }

    .arrow.left {
        left: 10px; /* Ajusta la distancia desde el borde izquierdo */
    }

    .arrow.right {
        right: 10px; /* Ajusta la distancia desde el borde derecho */
    }

    .slider-1 {
        width: 100%; /* Ajusta el ancho del slider en dispositivos móviles */
        padding: 10px; /* Ajusta el padding del slider */
    }

    .slider-1 .product-1 {
        width: 100%; /* Hace que cada producto ocupe todo el ancho disponible */
        margin-right: 0; /* Elimina el margen derecho entre productos */
    }

    .slider-1 .product-1 img {
        width: 150px; /* Ajusta el ancho de la imagen */
        height: 225px; /* Ajusta la altura de la imagen para mantener la proporción */
    }
}

/* Media query para pantallas aún más pequeñas, como teléfonos */
@media screen and (max-width: 480px) {
    .box-1 img {
        width: 100%; /* Hace que la imagen ocupe todo el ancho del contenedor en dispositivos móviles */
        height: auto; /* Mantiene la proporción de la imagen */
    }

    .titulo-autor h2 {
        font-size: 18px; /* Reduce aún más el tamaño del título principal */
    }

    .titulo-autor h3 {
        font-size: 14px; /* Reduce aún más el tamaño del subtítulo del autor */
    }

    .volver-btn {
        font-size: 14px;
        margin-left: 10px;
    }

    .volver-btn i {
        font-size: 16px;
    }

    .titulo-autor h4 {
        font-size: 16px; /* Ajusta el tamaño del subtítulo */
    }

    .datos-libro p {
        font-size: 12px; /* Reduce el tamaño del texto */
    }

    .mostrar-mas-btn {
        font-size: 14px; /* Ajusta el tamaño de fuente del botón */
        padding: 8px; /* Ajusta el padding del botón */
    }

    .slider-1 {
        width: 100%; /* Ajusta el ancho del slider en dispositivos móviles */
        padding: 10px; /* Ajusta el padding del slider */
    }

    .slider-1 .product-1 {
        width: 100%; /* Hace que cada producto ocupe todo el ancho disponible */
        margin-right: 0; /* Elimina el margen derecho entre productos */
    }

    .slider-1 .product-1 img {
        width: 100px; /* Ajusta el ancho de la imagen */
        height: 150px; /* Ajusta la altura de la imagen para mantener la proporción */
    }

    .slider-1 .product-1:not(:first-child) {
        display: none; /* Oculta todos los productos excepto el primero */
    }

    .arrow {
        position: fixed;
        top: 50%;
        width: auto;
        height: auto;
        transform: translateY(-50%);
        z-index: 1000; /* Asegura que las flechas estén por encima del contenido */
    }

    .arrow.left {
        left: 10px; /* Ajusta la distancia desde el borde izquierdo */
        
    }

    .arrow.right {
        right: 10px; /* Ajusta la distancia desde el borde derecho */
    }
}
